<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- docTitle to se the title depending upon the webpage --}}
    <title>{{docTitle}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>

    <nav id="navbar" class="navbar">
        <ul>
            <li><a href="/product">Home</a></li>
            <li><a href="/product/new">Create New Product</a></li>
            <li><a href="/my-products">My Products</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous">
        </script>
    <script src="../../public/js/admin/view.js"></script>
    {{#if script_partial}}
    {{> (lookup . 'script_partial')}}
    {{/if}}
</body>

</html>