{{#if uploadProcess1 }}
<main>
    <div id="phase1-error-div"></div>
    <form action="/product/new" method="POST" name="productCreate_1" enctype="multipart/form-data" id="productCreate_1">
        {{!-- section for productCoverImage --}}
        <label for="productThumbnail">Cover Image</label>
        <input type="file" name="productThumbnail" id="productThumbnail">

        {{!-- section for productName --}}
        <label for="productName">Product Name</label>
        <input type="text" name="productName" id="productName" pattern="[A-Za-z0-9\s-]+" required>

        <input type="submit" value="Proceed to Phase 2">
    </form>
</main>
{{/if}}

{{#if uploadProcess2}}
<main>
    <div id="phase2-error-div"></div>
    <form action="/product/new/{{productID}}" method="POST" name="productCreate_2" enctype="multipart/form-data"
        id="productCreate_2">

        <label for="productDescription">Product Description</label>
        <textarea name="productDescription" id="productDescription" cols="30" rows="10" required></textarea>
        {{!-- section for product Condition --}}
        <label for="productCondition"> Product Condition</label>
        <select name="productCondition" id="productCondition" required>
            <option value="Used">Used</option>
            <option value="Slight Used">Slightly Used</option>
            <option value="New">New</option>
        </select>

        {{!-- section for product Serial Number --}}
        <label for="productSerialNumber">Serial Number</label>
        <input type="text" name="productSerialNumber" id="productSerialNumber" required pattern="[A-Za-z0-9]+">

        {{!-- section for product supportedConsoles --}}
        <label for="productSupportedConsole">Supported Console</label>
        <select name="productSupportedConsole" id="productSupportedConsole" multiple required>
            <option value="NES">NES</option>
            <option value="SNES">SNES</option>
            <option value="Gamecube">Gamecube</option>
            <option value="Wii">Wii</option>
            <option value="Nintendo Switch">Nintendo Switch</option>
            <option value="XBox">XBoxOne</option>
            <option value="XBox 360">XBox 360</option>
            <option value="XBoxOne">XBoxOne</option>
            <option value="PS3">PlayStation3</option>
            <option value="PS4">PlayStation4</option>
            <option value="PS5">PlayStation5</option>
            <option value="PC">PC</option>
        </select>

        {{!-- section for product otherImages--}}
        <label for="productOtherImages">Other Images</label>
        <input type="file" name="productOtherImages" id="productOtherImages" multiple required>

        {{!-- section for product Asking Price --}}
        <label for="productAskingPrice">Bid Starting Price</label>
        <input type="number" name="productAskingPrice" id="productAskingPrice" required min="1" max="999">

        <input type="submit" value="Register">
    </form>
</main>
{{/if}}