<article class="product">
	<h1 id="product-title">{{ product.productName }}</h1>
	{{!-- <address>Posted by {{product.poster.name}}</address> --}}
	<p>{{ product.productDescription }}</p>

	<div id="bid-list"></div>

	<div class="bid-form-container">
		<div id="create-bid-errors">
		</div>
		<form id="bid-form">
			<label for="bid-amount">Bid Amount:</label>
			<input type="text" id="bid-amount" name="bid-amount" /><br />

			<input type="submit" value="Create Bid" />
		</form>
	</div>

	<a href="/product/">Back to All Posts</a>
</article>