<article class="product">
  <h1>{{ product.productName }}</h1>
  {{!-- <address>Posted by {{product.poster.name}}</address> --}}
  <p>{{ product.productDescription }}</p>


  <a href="/product/">Back to All Posts</a>
</article>